<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/logout.js}"></script>
    <script src="https://kit.fontawesome.com/a0661b4ae5.js" crossorigin="anonymous"></script>

    <title>[[${title}]]</title>
</head>
<body>
<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
    <a th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir}
                       + ${keyword != null ? '&keyword=' + keyword : ''}}"
       class="text-white">
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
    </span>
</th>

<a th:fragment="disable(isEnabled)"
   th:if = "${isEnabled} == true"
   title="Disable this user"><i class="fas fa-check-circle fa-2x icon-green"></i></a>

<a th:fragment="enabled(isEnabled)"
   th:if = "${isEnabled} == false"
   title="Enable this user"><i class="fas fa-circle fa-2x icon-dark"></i></a>

<a th:fragment="page_link(moduleURL, pageNum, label)"
   class="page-link"
   th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                    + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

<div th:fragment="footer" class="text-center m-3">
    <p>Shopme Control Panel - Copyright &copy; Shopme</p>
</div>

<div th:fragment="category_status" th:remove="tag">
    <a th:if="${cat.enabled == true}"
       th:href="@{'/categories/' + ${cat.id} + '/enabled/false'}"
       title="Disable this category"><i class="fa-solid fa-circle-check fa-2x icon-green"></i></a>

    <a th:if="${cat.enabled == false}"
       th:href="@{'/categories/' + ${cat.id} + '/enabled/true'}"
       title="Enable this category"><i class="fa-solid fa-circle-check fa-2x icon-red"></i></a>
</div>

<div th:fragment="category_actions" th:remove="tag">
    <a class="fas fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${cat.id}}"
    title="Edit this category"></a>
    &nbsp;
    <th:block th:if="${cat.hasChildren == false}">
        <a class="fas fa-trash fa-2x icon-dark link-delete"
           th:href="@{'/categories/delete/' + ${cat.id}}"
           th:entityId="${cat.id}"
           title="Delete this category"></a>
    </th:block>
</div>

<div th:fragment="user_actions" th:remove="tag">
    <a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
       title="Edit this user"></a>
    &nbsp;
        <a class="fas fa-trash fa-2x icon-dark link-delete"
           th:href="@{'/users/delete/' + ${user.id}}"
           th:entityId="${user.id}"
           title="Delete this user"></a>
</div>

<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
<div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
</div>
<div class="text-center m-1" th:unless="${totalItems > 0}">
    <span>No [[${entityName}]] found</span>
</div>

<div th:if="${totalPages > 1}">
    <nav>
        <ul class="pagination justify-content-center flex-wrap">
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, 1, 'First')}"></a>
            </li>
            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')}"></a>
            </li>

            <th:block th:if="${totalPages <= 10}">
                <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                    th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                </li>
            </th:block>

            <th:block th:if="${totalPages > 10}">
                <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
                    <li th:each="i : ${#numbers.sequence(1, 5)}"
                        th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                        <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                    </li>

                    <a th:href="6" class="page-link">...</a>

                    <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                        th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                        <a th:href="@{${i}}" class="page-link">[[${i}]]</a>
                    </li>
                </th:block>
                <th:block th:if="${currentPage <= 5 && currentPage < totalPages -4}">
                    <a th:href="@{${currentPage - 5}}" class="page-link">...</a>

                    <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}"
                        th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                        <a th:href="@{${i}}" class="page-link">[[${i}]]</a>
                    </li>


                    <a th:href="@{${currentPage + 5}}" class="page-link">...</a>

                </th:block>
            </th:block>

            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')}"></a>
            </li>
            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')}"></a>
            </li>
        </ul>
    </nav>
</div>
</div>
</body>
</html>
