<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common_fragments :: page_head('Brands - Shopme Admin')}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<style>
    td img {
        border-radius: 50%;
        mix-blend-mode: multiply;
        width: 3.12rem;
        height: 3.12rem;
        display: block;
    }

    form div {
        padding-top: 0.5rem;
    }

</style>
<div class="container-fluid">
    <div th:replace="~{fragments/navigation_fragments :: menu}"></div>
    <div>
        <h2>Manage Categories</h2>
        <a th:href="@{/brands/new}" class="fas fa-folder-plus fa-2x icon-dark me-2"></a>
        <a th:href="@{/brands/export/csv}" class="fas fa-file-csv fa-2x icon-dark me-2"></a>
    </div>

    <div th:replace="~{fragments/common_fragments :: search_form_and_message('/brands/page/1')}"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th>Brands ID</th>
                <th>Logo</th>
                <th th:replace="~{fragments/common_fragments :: column_link('/brands', 'name', 'Brand Name', 'None')}">Brand Name</th>
                <th>Categories</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brand : ${brands}">
                <td class="hideable-column">[[${brand.id}]]</td>
                <td>
                    <i th:if="${brand.logo == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                    <img th:if="${brand.logo != null}" th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid">
                </td>
                <td>[[${brand.name}]]</td>
                <td>
                    <th:block th:each="cat : ${brand.categories}">
                        <span class="badge text-bg-secondary" th:text="${cat.name}"></span>
                    </th:block>
                </td>
                <td>
                    <div th:replace="~{fragments/common_fragments :: edit('brand', '/brands/edit/' + ${brand.id})}"></div>
                    <div class="mt-2" th:replace="~{fragments/common_fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="brand : ${brands}" class="row m-1">
            <div class="col-4">
                <img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>
            </div>
            <div class="col-8">
                <div>[[${brand.name}]]</div>
                <div class="mt-2" >
                    <div class="mt-2" th:replace="~{fragments/common_fragments :: edit('brand', '/brands/edit/' + ${brand.id})}"></div>
                    <div th:replace="~{fragments/common_fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)}"></div>
                </div>
            </div>
            <div class="brandContainer"></div>
        </div>
    </div>

    <div th:replace="~{fragments/common_fragments :: pagination('/brands', 'brands')}"></div>

    <div th:replace="~{fragments/modal_fragments :: confirm_modal}"></div>

    <div th:replace="~{fragments/common_fragments :: footer}"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/brands}]]";

    $(document).ready(function () {
        $('.link-delete').on("click", function (e) {
            e.preventDefault()
            showDeleteConfirmModel($(this), 'brand');
        })
    })
</script>
</body>
</html>