<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common_fragments :: page_head(${pageTitle}, 'none')}">

</head>
<body>

<div class="container-fluid">
    <div th:replace="~{fragments/navigation_fragments :: header_menu}"></div>

    <div class="text-center">
        <h2>Customer Registration</h2>
    </div>

    <form th:action="@{/customer}" method="post" th:object="${customer}"
          style="max-width: 600px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="row mb-3">
                <label for="firstName" class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="text" id="firstName" class="form-control"
                           placeholder="First name" aria-label="First name" th:field="*{firstName}" required="required"
                           maxlength="45" minlength="2">
                </div>

                <label for="lastName" class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="text" id="lastName" class="form-control"
                           placeholder="Last Name" aria-label="Last name" th:field="*{lastName}" required="required"
                           maxlength="45" minlength="2">
                </div>

                <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="email" id="email" class="form-control"
                           placeholder="E-mail" aria-label="E-mail" th:field="*{email}" required="required"
                           maxlength="45" minlength="2">
                </div>

                <label for="password" class="col-sm-4 col-form-label">Password:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="password" id="password" class="form-control"
                           placeholder="Password" aria-label="Create a password" th:field="*{password}"
                           required="required"
                           maxlength="64" minlength="8">
                </div>

                <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="password" id="confirmPassword" class="form-control"
                           placeholder="Confirm password" aria-label="Confirm password" required="required"
                           maxlength="64" minlength="8"
                           oninput="checkPasswordMatch(this)">
                </div>

                <label for="phoneNumber" class="col-sm-4 col-form-label">Phone Number:</label>
                <div class="col-sm-3 mb-1 mt-1">
                    <input type="text" id="phoneNumberPrefix" class="form-control"
                           placeholder="Prefix" aria-label="Phone Number" th:field="*{phoneNumber.prefix}"
                           maxlength="5">
                </div>
                <div class="col-sm-5 mb-1 mt-1">
                    <input type="text" id="phoneNumber" class="form-control"
                           placeholder="Phone Number" aria-label="Phone Number" th:field="*{phoneNumber.phone}"
                           required="required"
                           maxlength="15" minlength="8">
                </div>

                <label for="addressLine1" class="col-sm-4 col-form-label">Address Line 1:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="text" id="addressLine1" class="form-control"
                           placeholder="Address 1" aria-label="Address 1" th:field="*{addressLine1}" required="required"
                           maxlength="64">
                </div>

                <label for="addressLine2" class="col-sm-4 col-form-label">Address Line 2:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="text" id="addressLine2" class="form-control"
                           placeholder="Address 2" aria-label="Address 2" th:field="*{addressLine2}"
                           maxlength="64">
                </div>

                <label for="city" class="col-sm-4 col-form-label">City:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="text" id="city" class="form-control"
                           placeholder="City" aria-label="City" th:field="*{city}" required="required"
                           maxlength="64">
                </div>

                <label for="country" class="col-sm-4 col-form-label">Country:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <div>
                        <select id="country" class="form-control" th:field="*{country}">
                            <th:block th:each="country : ${listCountries}">
                                <option th:value="${country.id}">[[${country.name}]]</option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <label for="stateProvince" class="col-sm-4 col-form-label">State/Province:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="text" id="stateProvince" class="form-control"
                           placeholder="State or Province" aria-label="State or Province" th:field="*{state}"
                           maxlength="45" minlength="3" list="states" />
                    <datalist id="states"></datalist>
                </div>

                <label for="postalCode" class="col-sm-4 col-form-label">Postal Code:</label>
                <div class="col-sm-8 mb-1 mt-1">
                    <input type="text" id="postalCode" class="form-control"
                           placeholder="Postal Code" aria-label="Postal Code" th:field="*{postalCode}" required="required"
                           maxlength="10" minlength="2">
                </div>
            </div>

            <div class="text-center mb-2">
                <input type="submit" value="Create Account" class="btn btn-primary"/>
            </div>
        </div>

    </form>

    <div th:replace="~{fragments/common_fragments :: modal_dialog}"></div>
    <div th:replace="~{fragments/navigation_fragments :: footer_menu}"></div>
</div>
<script type="text/javascript">
    const CONTEXT_PATH = "[[@{/v1}]]";

    $(document).ready(function () {
        const dropDownCountry = $("#country");
        const statesByCountry = $("#states");

        dropDownCountry.on("change", function () {
            loadStatesForCountry(statesByCountry);
        });
    })

    function loadStatesForCountry(statesByCountry) {
        let selectedCountry = $("#country option:selected");
        let countryId = selectedCountry.val();
        const URL = `${CONTEXT_PATH}/bcstates/${countryId}`;

        $.get(URL, function (responseJSON) {
            statesByCountry.empty();

            $.each(responseJSON, function (index, state) {
                $("<option>").val(state.name).text(state.name).appendTo(statesByCountry);
            });
        });
    }

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value !== $("#password").val()) {
            confirmPassword.setCustomValidity("Passwords do not match");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }

    function checkEmailUnique(form) {
        const URL = `${CONTEXT_PATH}/customers/check-email`;
        let requestData = {
            email: $("#email").val().trim()
        }

        let csrfToken = $("input[name='_csrf']").val();

        $.post({
            url: URL,
            contentType: "application/json",
            data: JSON.stringify(requestData),
            dataType: "json",
            headers: {
                "X-CSRF-TOKEN": csrfToken
            },
            success: function (response, textStatus, jqXH) {
                console.log(response.status);
                console.log(jqXH)
                if (jqXH.status === 200) {
                    form.submit();
                } else {
                    showErrorModal(`Unexpected response from server`);
                }
            },
            error: function (xhr, status, error) {
                if (xhr.status === 409) {
                    let response = JSON.parse(xhr.responseText);
                    showWarningModal(response.error);
                } else {
                    showErrorModal(`Could not connect to the server`);
                }
            }
        });

        return false;
    }

    function showModalDialog(title, message) {
        $('#modalTitle').text(title);
        $('#modalBody').text(message);
        $('#modalDialog').show();
        $('#modalDialogClose, #modalDialogCross').on('click', function () {
            $('#modalDialog').hide();
        })
    }

    $(document).ready(function () {
        $('form').on('submit', function () {
            return checkEmailUnique(this);
        });
    });

    function showErrorModal(message) {
        showModalDialog("Error", message);
    }

    function showWarningModal(message) {
        showModalDialog("Warning", message)
    }
</script>

</body>
</html>
