<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common_fragments :: page_head(${pageTitle}, 'none')}">

</head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments/navigation_fragments :: header_menu}"></div>
    <div class="text-center">
        <h2>Customer Registration</h2>
        <h4>You have registered successfully as a customer</h4>
        <p>Please check your email to verify our an account.</p>
        <p><a th:href="@{/login}">Login here</a></p>
    </div>
</div>

</body>
</html>
