<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common_fragments :: page_head('Home - Shopme Admin', 'none')}">

</head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments/navigation_fragments :: menu}"></div>
    <div>
        <h1>Welcome to Shopme Admin Control panel</h1>
        Welcome
        <a th:href="@{/profile-settings}"
                  sec:authentication="principal.fullname"></a>
        <span sec:authentication="principal.authorities"></span>
    </div>


    <div th:replace="~{fragments/common_fragments :: footer}">
    </div>

</div>

</body>
</html>
