<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common_fragments :: page_head('Categories - Shopme Admin')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
    td img {
        border-radius: 50%;
        mix-blend-mode: multiply;
        width: 3.12rem;
        height: 3.12rem;
        display: block;
    }

    form div {
        padding-top: 0.5rem;
    }

</style>
<div class="container-fluid">
    <div th:replace="~{fragments/navigation_fragments :: menu}"></div>
    <div>
        <h2>Manage Categories</h2>
        <a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark me-2"></a>
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark me-2"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/categories/page/1}" class="row g-3 mb-2">
            <div class="col-auto">
                <input type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="Filter" required/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="clearFilter()">
                    <i class="fas fa-eraser"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Category Image</th>
                    <th>
                        <a class="text-white" th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">Category Name</a>
                        <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                        </span>
                    </th>
                    <th>Alias</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cat : ${listCategories}">
                    <td>[[${cat.id}]]</td>
                    <td>
                        <i th:if="${cat.image == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                        <img th:if="${cat.image != null}" th:src="@{${cat.imagePath}}">
                    </td>
                    <td>[[${cat.name}]]</td>
                    <td>[[${cat.alias}]]</td>
                    <td>
                        <div th:replace="~{fragments/common_fragments :: category_status }"></div>
                    </td>
                    <td>
                        <div th:replace="~{fragments/common_fragments :: category_actions}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments/modal_fragments :: confirm_modal}"></div>

    <div th:replace="~{fragments/common_fragments :: footer}"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function () {
        $('.link-delete').on("click", function (e) {
            e.preventDefault()
            showDeleteConfirmModel($(this), 'category');
        })
    })
</script>
</body>
</html>