<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common_fragments :: page_head('Home - Shopme Admin')}">
<body>

<style>
    td img {
        border-radius: 50%;
        mix-blend-mode: multiply;
        width: 3.12rem;
        height: 3.12rem;
        display: block;
    }
</style>

<div class="container-fluid">
    <div th:replace="~{fragments/navigation_fragments :: menu}"></div>
    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}"><i class="fa-solid fa-user-plus fa-2x icon-dark me-2"></i></a>
        <a th:href="@{/users/export/csv}"><i class="fa-solid fa-file-csv fa-2x icon-dark me-2"></i></a>
        <a th:href="@{/users/export/excel}"><i class="fa-solid fa-file-excel fa-2x icon-dark me-2"></i></a>
        <a th:href="@{/users/export/pdf}"><i class="fa-solid fa-file-pdf fa-2x icon-dark me-2"></i></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="row g-3 mb-2">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            <div class="col-auto">
                <input type="search" id="filter" name="keyword" th:value="${keyword}" class="form-control"
                       placeholder="Search User" required/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="clearFilter()">
                    <i class="fas fa-eraser"></i>
                </button>
            </div>
        </form>
    </div>


    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th class="hideable-column">
                    <th th:replace="~{fragments/common_fragments :: column_link('id', 'User ID', 'tag')}"></th>
                <th>Photos</th>
                <th class="hideable-column">
                <th th:replace="~{fragments/common_fragments :: column_link('email', 'E-mail', 'tag')}" class="hideable-column"></th>
                <th th:replace="~{fragments/common_fragments :: column_link('firstName', 'First Name', 'none')}"></th>
                <th th:replace="~{fragments/common_fragments :: column_link('lastName', 'Last Name', 'none')}"></th>
                <th>Roles</th>
                <th th:replace="~{fragments/common_fragments :: column_link('enabled', 'Enabled', 'none')}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td class="hideable-column">[[${user.id}]]</td>
                <td>
                    <i th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></i>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}">
                </td>
                <td class="hideable-column">[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <a th:replace="~{fragments/common_fragments :: disable(${user.enabled}) }"
                       th:href="@{'/users/' + ${user.id} + '/enabled/false'}"></a>

                    <a th:replace="~{fragments/common_fragments :: enabled(${user.enabled})}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/true'}"></a>
                </td>
                <td>
                    <div th:replace="~{fragments/common_fragments :: user_actions}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="user : ${listUsers}" class="row m-1">
            <div class="col-4">
                <span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-dark"></span>
                <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px">
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <a th:replace="~{fragments/common_fragments :: disable(${user.enabled}) }"
                       th:href="@{'/users/' + ${user.id} + '/enabled/false'}"></a>

                    <a th:replace="~{fragments/common_fragments :: enabled(${user.enabled})}"
                       th:href="@{'/users/' + ${user.id} + '/enabled/true'}"></a>
                    &nbsp;
                    <a th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"><i
                            class="fas fa-edit fa-2x icon-green"></i></a>
                    &nbsp;
                    <a class="link-delete"
                       th:href="@{'/users/delete/' + ${user.id}}"
                       th:userId="${user.id}"
                       th:entityId="${user.id}"
                       title="Delete this user">
                        <i class="fas fa-trash fa-2x icon-red link-delete"></i></a>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No users found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(1, 'First')}"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${currentPage - 1}, 'Previous')}"></a>
                </li>

                <th:block th:if="${totalPages <= 10}">
                <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                    th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${i}, ${i})}"></a>
                </li>
                </th:block>

                <th:block th:if="${totalPages > 10}">
                    <th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4}">
                        <li th:each="i : ${#numbers.sequence(1, 5)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:replace="~{fragments/common_fragments :: page_link(${i}, ${i})}"></a>
                        </li>

                        <a th:href="6" class="page-link">...</a>

                        <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:href="@{${i}}" class="page-link">[[${i}]]</a>
                        </li>
                    </th:block>
                    <th:block th:if="${currentPage <= 5 && currentPage < totalPages -4}">
                        <a th:href="@{${currentPage - 5}}" class="page-link">...</a>

                        <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 4)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:href="@{${i}}" class="page-link">[[${i}]]</a>
                        </li>


                        <a th:href="@{${currentPage + 5}}" class="page-link">...</a>

                    </th:block>
                </th:block>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${currentPage + 1}, 'Next')}"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:replace="~{fragments/modal_fragments :: confirm_modal}"></div>
    <div th:replace="~{fragments/common_fragments :: footer}"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    function clearFilter() {
        window.location = "[[@{/users}]]"
    }

    $(document).ready(function () {
        $(".link-delete").on("click", (e) => {
            e.preventDefault()
            showDeleteConfirmModel($(this), 'user');
        })
    })
</script>
</body>
</html>
