<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common_fragments :: page_head(${pageTitle})}">
</head>
<body>

<div class="container-fluid">
    <div th:replace="~{fragments/navigation_fragments :: menu}"></div>
    <div>
        <h2>Manage Products | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/products/save}" method="post"
          th:object="${product}">
        <input type="hidden" th:field="*{id}" />
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab">Description</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab">Images</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab">Details</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active p-3" id="overview" role="tabpanel">
                <div th:replace="~{fragments/overview_fragment :: content}"></div>
            </div>
            <div class="tab-pane" id="description" role="tabpanel">Description</div>
            <div class="tab-pane" id="images" role="tabpanel">Images</div>
            <div class="tab-pane" id="details" role="tabpanel">Details</div>
        </div>
        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3" />
            <input id="btnCancel" type="button" value="Cancel" class="btn btn-secondary" />
        </div>
    </form>

    <div th:replace="~{fragments/modal_fragments :: modal_dialog}"></div>
    <div th:replace="~{fragments/common_fragments :: footer}"></div>


    </div>
<script th:src="@{/js/image-upload.js}"></script>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    const moduleURL = "[[@{/products}]]";
    const brandModuleURL = "[[@{/v1/brands}]]";

    const dropDownBrands = $("#brand");
    const dropDownCategories = $("#category");

    $(document).ready(function () {
        dropDownBrands.change(function () {
            dropDownCategories.empty();
            getCategories();
        });
        //categories to show the categories of the first brand
        getCategories();
    });

    function getCategories() {
        const brandId = dropDownBrands.val();
        const url = `${brandModuleURL}/${brandId}/categories`;

        $.get(url, (responseJson) => {
            responseJson.forEach((category) => {
                $("<option>")
                    .val(category.id)
                    .text(category.name)
                    .appendTo(dropDownCategories);
            });
        });
    }
</script>
</body>
</html>
