<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/logout.js}"></script>
    <script src="https://kit.fontawesome.com/a0661b4ae5.js" crossorigin="anonymous"></script>
</head>
<body>

<div th:fragment="content" th:remove="tag">
    <div class="row" id="divProductImages">
        <div class="col border m-3 p-2">
            <input type="hidden" th:field="*{mainImage}"/>
            <div><label>Main Image: [[${product.mainImage}]]</label></div>
            <div class="m-2">
                <img id="thumbnail" alt="Main image preview" class="img-fluid"
                th:src="@{${product.mainImagePath}}"/>
            </div>
            <div>
                <input type="file" id="fileImage" name="fileImage"
                       th:required="${product.mainImage == null}"
                 accept="image/png, image/jpeg" />
            </div>
        </div>
        <!--Edit mode-->
        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border m-3 p-2" th:id="'divExtraImage' + ${status.index}">
                <div>
                    <label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
                    <a id="linkRemoveExtraImage" class="btn fa fa-times-circle fa-2x icon-dark float-end"
                       title="Remove this image"></a>

                </div>
                <div class="m-2">
                    <img th:id="'extraThumbnail' + ${status.index}"
                         th:alt="'Extra image #' + ${status.index + 1} + 'preview'" class="img-fluid"
                         th:src="@{${productImage.imagePath}}"/>
                </div>
                <div>
                    <input type="file" name="extraImage"
                           accept="image/png, image/jpeg" />
                </div>

                <input type="hidden" name="imageIDs" th:id="'imageId' + ${status.index}"/>
                <input type="hidden" name="imageNames" th:id="'imageName' + ${status.index}"/>
            </div>
        </th:block>

        <div class="col border m-3 p-2" th:id="'divExtraImage' + ${numberOfExistingExtraImages}">
            <div th:id="'extraImageHeader' + ${numberOfExistingExtraImages}">
                <label>Extra Image #[[${numberOfExistingExtraImages + 1}]]:</label>
            </div>
            <div class="m-2">
                <img th:id="'extraThumbnail' + ${numberOfExistingExtraImages}"
                     th:alt="'Extra image #' + ${numberOfExistingExtraImages} + 'preview'" class="img-fluid"
                     th:src="@{/images/image-thumbnail.png}"/>
            </div>
            <div>
                <input type="file" name="extraImage"
                       accept="image/png, image/jpeg" />
            </div>
        </div>
    </div>

</div>
</body>
</html>
