<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, none)">
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/logout.js}"></script>
    <script src="https://kit.fontawesome.com/a0661b4ae5.js" crossorigin="anonymous"></script>

    <title>[[${title}]]</title>
</head>
<body>

<div th:fragment="content" th:remove="tag">
    <div>
        <label>Short Description:</label>
        <textarea class="form-control" th:field="*{shortDescription}" rows="5" required></textarea>
    </div>
    <div>
        <label>Full Description:</label>
        <textarea class="form-control" th:field="*{fullDescription}" rows="10" required></textarea>
    </div>
</div>

</body>
</html>
