<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, none)">
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/logout.js}"></script>
    <script src="https://kit.fontawesome.com/a0661b4ae5.js" crossorigin="anonymous"></script>

    <title>[[${title}]]</title>
</head>
<body>

<div th:fragment="content" th:remove="tag">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="256"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Alias:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{alias}"
                   placeholder="Default is product name (spaces are replaced by dashes)"
                   required minlength="3" maxlength="256"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Brand:</label>
        <div class="col-sm-10">
            <select th:field="*{brand}" class="form-control" required>
                <th:block th:each="brand : ${brands}">
                    <option th:value="${brand.id}">[[${brand.name}]]</option>
                </th:block>

            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Category:</label>
        <div class="col-sm-10">
            <th:block th:if="${product.category != null}">
                <select th:field="*{category}" class="form-control" required>
                    <th:block th:each="cat : ${product.brand.categories}">
                    <option th:value="${cat.id}">[[${cat.name}]]</option>
                    </th:block>
                </select>
            </th:block>

            <th:block th:if="${product.category == null}">
                <select th:field="*{category}" class="form-control" required></select>
            </th:block>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Enabled</label>
        <div class="col-sm-10">
            <input type="checkbox" th:field="*{enabled}">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">In-Stock</label>
        <div class="col-sm-10">
            <input type="checkbox" th:field="*{inStock}">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Cost:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{cost}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{price}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Discount:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{discountPercent}"/>
        </div>
    </div>
</div>

</body>
</html>
