<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>

    <title>[[${title}]]</title>
</head>
<body>

<div th:fragment="footer" class="text-center m-3">
    <p>Shopme - Copyright &copy; Shopme Ltd.</p>
</div>

<a th:fragment="page_link(moduleURL, pageNum, label)"
   class="page-link"
   th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}
                    + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
    <div class="text-center m-1" th:if="${totalItems > 0}">
    <span>Showing [[${entityName}]] # [[${startCount}]] to
        [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found</span>
    </div>

    <div th:if="${totalPages > 1}">
        <nav>
            <ul class="pagination justify-content-center flex-wrap">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, 1, 'First')}"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')}"></a>
                </li>

                <th:block th:if="${totalPages <= 10}">
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                        <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                    </li>
                </th:block>

                <th:block th:if="${totalPages > 10}">
                    <th:block th:if="${currentPage < 5 || currentPage >= totalPages - 4}">
                        <li th:each="i : ${#numbers.sequence(1, 5)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                        </li>

                        <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${totalPages/2}, ${'...'})}"
                           class="page-link">...</a>

                        <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                        </li>
                    </th:block>
                    <th:block th:if="${currentPage >= 5 && currentPage < totalPages - 4}">
                        <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${currentPage - 5}, ${'...'})}">...</a>

                        <li th:each="i : ${#numbers.sequence(currentPage - 4, currentPage + 5)}"
                            th:class="${currentPage != i ? 'page-item': 'page-item active'}">
                            <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
                        </li>

                        <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${currentPage + 5}, ${'...'})}"
                           class="page-link">...</a>
                    </th:block>
                </th:block>

                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')}"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/common_fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="content" th:remove="tag">
    <div th:if="${categoryParents != null && !categoryParents.empty}">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Home</a>
                        </li>

                        <th:block th:each="parent : ${categoryParents}">
                            <li class="breadcrumb-item">
                                <a th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a>
                            </li>
                        </th:block>

                        <li class="breadcrumb-item" th:if="${product != null}">
                            <span>[[${product.shortName}]]</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>
